@import "tailwindcss";
/* Custom horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px; /* thickness */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  